<template>
  
</template>

<script>
export default {
    mounted : function() {
        this.deconnexion();
    },
        methods: {
        deconnexion() {
            this.$api.delete('members/signout')
            .then(response => {
                alert("Déconnexion réussie");
                this.$router.push("/connexion")
            }).catch(error => {
                console.log(error);
                alert(error.response.data.message);
            });
        }
    },
}
</script>

<style>

</style>