<template>
    <div class="box">
        <div class="control">
            <div class="column is-6 message-body">
                <p class="">{{message.message}}</p>
            </div> 
                 
                <hr>
            <div class="columns"> 
                <div class="column is-3">
                    <p>{{message.created_at}}</p>
                </div>     
                <div class="column is-2 is-offset-5">
                   <button class="button is-warning"  v-on:click="modifier">Modifier</button>
                </div>            
                <div class="column is-2">
                    <button class="button is-danger" v-on:click="supprimer(message.id,conversationid)">Supprimer</button>
                </div>     
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["message","conversationid"],
    methods:{
        supprimer(messageid,conversationid){
            console.log(messageid,conversationid);
            this.$api.delete(`channels/${conversationid}/posts/${messageid}`,{
            }).then(response => {
                console.log(response.data)
            })
        },
        modifier(){
            
        }
    },
}
</script>

<style>

</style>