<template>
    <router-link :to="{name:'Conversation', params : {idConversation:conversation.id}}" class="box">
        <p class="title is-4">{{conversation.label}}</p>
        <p class="subtitle is-6">{{conversation.topic}}</p>
    </router-link>
             
</template>

<script>
export default {
    props: ["conversation"],
}
</script>